extends layout

block content
  .jumbotron
    .container
      .row
        .col-md-6   
          h1 How may I help you?
          p Welcome components and templates to help folks quickly get started, demonstrate best practices for adding onto the framework #{title}
          a.btn.btn-success(href='#') Learn more &raquo;

  .container
    .row
      .col-md-4
        h2 About Us
        p Brand new components and templates to help folks quickly get started with Bootstrap and demonstrate best practices for adding onto the framework.
        a.btn.btn-secondary(href='#') View details &raquo;
      .col-md-4
        h2 Services
        p Brand new components and templates to help folks quickly get started with Bootstrap and demonstrate best practices for adding onto the framework.
        a.btn.btn-secondary(href='#') View details &raquo;        
      .col-md-4
        h2 Get In Touch
        p Brand new components and templates to help folks quickly get started with Bootstrap and demonstrate best practices for adding onto the framework.
        a.btn.btn-secondary(href='#') View details &raquo;
  br
  .jumbotron
    .container
      .row
        .col-md-6.offset-md-6.text-left
          h2 See what we can do for you?
          p Brand new components and templates to help folks quickly get started with Bootstrap and demonstrate best practices for adding onto the framework.Brand new components and templates to help folks quickly get started with Bootstrap and demonstrate best practices for adding onto the framework.
          a.btn.btn-success(href='#') Get In Touch
